[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start="flask run -p 5000 -h 0.0.0.0"
